.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
    overflow-x: hidden;
    transition: right 0.3s ease; /* Agrega una transición para la propiedad 'right' */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }